MichaelFramework.Config/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:xmlns:headline.tv:agent:configuration" elementFormDefault="qualified" targetNamespace="urn:xmlns:headline.tv:agent:configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="customSettings" type="tns:MichaelFramework.Config.CustomSettingsCT" />
	<xs:complexType name="MichaelFramework.Config.CustomSettingsCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="system" type="tns:MichaelFramework.Config.SystemCT">
				<xs:annotation>
					<xs:documentation>The System.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="application" type="tns:MichaelFramework.Config.AppCT">
				<xs:annotation>
					<xs:documentation>The Application.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MichaelFramework.Config.UsersCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="singleUser" type="tns:MichaelFramework.Config.SingleUserCT">
				<xs:annotation>
					<xs:documentation>The SingleUser Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MichaelFramework.Config.SingleUserCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="mainForm" type="tns:MichaelFramework.Config.MainFormCT">
				<xs:annotation>
					<xs:documentation>The MainForm.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MichaelFramework.Config.AppCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="loginForm" type="tns:MichaelFramework.Config.LoginFormCT">
				<xs:annotation>
					<xs:documentation>The LoginForm.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="mainForm" type="tns:MichaelFramework.Config.MainFormCT">
				<xs:annotation>
					<xs:documentation>The MainForm.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="users" type="tns:MichaelFramework.Config.UsersCT">
				<xs:annotation>
					<xs:documentation>The Users.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="allowMultiStartup" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The AllowMultiStartup.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="runCount" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The RunCount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MichaelFramework.Config.LoginFormCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="assemblyQualifiedName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AssemblyQualifiedName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="accessedUsers" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AccessedUsers.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="title" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Title.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MichaelFramework.Config.MainFormCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="assemblyQualifiedName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AssemblyQualifiedName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="bounds" use="optional">
			<xs:annotation>
				<xs:documentation>The Bounds.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="style" use="optional" type="tns:eStyle">
			<xs:annotation>
				<xs:documentation>The Style.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="colorTint" use="optional">
			<xs:annotation>
				<xs:documentation>The ColorTint.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="windowState" use="optional" type="tns:FormWindowState">
			<xs:annotation>
				<xs:documentation>The WindowState.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="leftPaneState" use="optional">
			<xs:annotation>
				<xs:documentation>The LeftPaneState.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rightPaneState" use="optional">
			<xs:annotation>
				<xs:documentation>The RightPaneState.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="selectedRibbonTabIndex" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The SelectedRibbonTabIndex.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="bottomPaneState" use="optional">
			<xs:annotation>
				<xs:documentation>The BottomPaneState.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ribbonControlExpanded" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The RibbonControlExpanded.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MichaelFramework.Config.SystemCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="customInit" type="tns:MichaelFramework.Config.CustomInitCT">
				<xs:annotation>
					<xs:documentation>The CustomInit.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="usePermissionControl" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The UsePermissionControl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dataDirectory" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DataDirectory.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MichaelFramework.Config.CustomInitCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="customInitItem" type="tns:MichaelFramework.Config.CustomInitItemCT">
				<xs:annotation>
					<xs:documentation>The CustomInitItem Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MichaelFramework.Config.CustomInitItemCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="method" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Method.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="eStyle">
		<xs:annotation>
			<xs:documentation>eStyle.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FormWindowState">
		<xs:annotation>
			<xs:documentation>FormWindowState.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="eModelType">
		<xs:annotation>
			<xs:documentation>eModelType.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Type">
				<xs:annotation>
					<xs:documentation>Type.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Assembly">
				<xs:annotation>
					<xs:documentation>Assembly.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
